{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Marten - Pet Food eCommerce Bootstrap4 Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'main/img/favicon.png' %}">

		<!-- all css here -->
        <link rel="stylesheet" href='{% static "main/css/style.css" %}' type="text/css" />
        <link rel="stylesheet" href="{% static 'main/css/jquery-ui.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/meanmenu.min.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/responsive.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/simple-line-icons.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/slick.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/themify-icons.css' %}">
        <script src="{% static 'main/js/vendor/modernizr-2.8.3.min.js' %}"></script>
    </head>
    <body>
        <header class="header-area">
            <div class="header-top theme-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="welcome-area">
                                <p>Default welcome msg! </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom transparent-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-5">
                            <div class="logo pt-39">
                                <a href="{% url 'landing' %}"><img alt="" src="{% static 'main/img/logo/cactus_logo_v2.png' %}"></a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-7 d-none d-lg-block">
                            <div class="main-menu text-center">
                                <nav>
                                    <ul>
                                        <li><a href="{% url 'landing' %}">HOME</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="{% url 'landing' %}">На главную</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="mega-menu-position"><a href="shop-page.html">Contuct us</a>
                                            <ul class="mega-menu">

                                                <li>
<!--                                                    <ul>-->
<!--                                                        <li class="mega-menu-title">Контакты</li>-->
<!--                                                        <li><a href="shop-page.html"></a></li>-->
<!--                                                        <li><a href="shop-page.html">Почта: </a></li>-->
<!--                                                        <li><a href="shop-page.html">Cheese</a></li>-->
<!--                                                        <li><a href="shop-page.html">wheat bran</a></li>-->
<!--                                                        <li><a href="shop-page.html">Cultivation</a></li>-->
<!--                                                    </ul>-->
                                                </li>
                                                <li>
                                                    <ul>
                                                        <li><a href="shop-page.html"><img alt="" src="{% static 'main/img/banner/menu-img-4.jpg' %}"></a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>

                                        <li><a href="blog-leftsidebar.html">Blog</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="blog.html">blog page</a>
                                                </li>
                                                <li>
                                                    <a href="blog-leftsidebar.html">blog left sidebar</a>
                                                </li>
                                                <li>
                                                    <a href="blog-details.html">blog details</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <div class="mobile-menu-area electro-menu d-md-block col-md-12 col-lg-12 col-12 d-lg-none d-xl-none">
                            <div class="mobile-menu">
                                <nav id="mobile-menu-active">
                                    <ul class="menu-overflow">
                                        <li><a href="#">HOME</a>
                                            <ul>
                                                <li><a href="{% url 'landing' %}">На главную</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Food</a>
                                            <ul>
                                                <li><a href="#">Dogs Food</a>
                                                    <ul>
                                                        <li><a href="shop-page.html">Grapes and Raisins</a></li>
                                                        <li><a href="shop-page.html">Carrots</a></li>
                                                        <li><a href="shop-page.html">Peanut Butter</a></li>
                                                        <li><a href="shop-page.html">Salmon fishs</a></li>
                                                        <li><a href="shop-page.html">Eggs</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Cats Food</a>
                                                    <ul>
                                                        <li><a href="shop-page.html">Meat</a></li>
                                                        <li><a href="shop-page.html">Fish</a></li>
                                                        <li><a href="shop-page.html">Eggs</a></li>
                                                        <li><a href="shop-page.html">Veggies</a></li>
                                                        <li><a href="shop-page.html">Cheese</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Fishs Food</a>
                                                    <ul>
                                                        <li><a href="shop-page.html">Rice</a></li>
                                                        <li><a href="shop-page.html">Veggies</a></li>
                                                        <li><a href="shop-page.html">Cheese</a></li>
                                                        <li><a href="shop-page.html">wheat bran</a></li>
                                                        <li><a href="shop-page.html">Cultivation</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html"> Contact us </a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% for cat in categories %}
        <div class="breadcrumb-area pt-95 pb-95 bg-img" style="background-image:url(assets/img/banner/banner-2.jpg);">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <div class="slider-area">
                        <div class="slider-active owl-dot-style owl-carousel">
                            <div class="single-slider pt-100 pb-100 yellow-bg">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-12 col-sm-7">
                                            <div class="slider-content slider-animated-1 pt-114">
                                                <h3 class="animated">{{ cat.name }}</h3>
                                                <h1 class="animated">Мы заботимся о вас <br>Все для вашего дома</h1>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-12 col-sm-5">
                                            <div class="slider-single-img slider-animated-1">
                                                <img class="animated" src="{% static 'main/img/slider/slider_list_products_cactus.png' %}" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slider pt-100 pb-100 yellow-bg">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-7 col-12">
                                            <div class="slider-content slider-animated-1 pt-114">
                                                <h3 class="animated">{{ cat.name }}</h3>
                                                <h1 class="animated">Мы заботимся о вас<br>Все для вашего дома</h1>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-5 col-12">
                                             <div class="slider-single-img slider-animated-1"><img class="animated" src="{% static 'main/img/slider/slider_list_products_cactus_2.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
                </div>
            </div>
        </div>
        <div class="shop-area pt-100 pb-100 gray-bg">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-lg-9">
                        <div class="shop-topbar-wrapper">
                            <div class="product-sorting-wrapper">
                                <div class="product-show shorting-style">
                                    <label>Showing <span>1-20</span> of <span>100</span> Results</label>
                                    <select>
                                        <option value="">12</option>
                                        <option value="">24</option>
                                        <option value="">36</option>
                                    </select>
                                </div>
                            </div>
                            <div class="grid-list-options">
                                <ul class="view-mode">
                                    <li><a href="#product-grid" data-view="product-grid"><i class="ti-layout-grid4-alt"></i></a></li>
                                    <li class="active"><a href="#product-list" data-view="product-list"><i class="ti-align-justify"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="grid-list-product-wrapper">
                            <div class="product-view product-list">

                                <div class="row">
                                    {% for product in products %}
                                        {% for cat in categories %}
                                            {% if cat.name == product.categories.name%}
                                                <div class="product-width col-lg-6 col-xl-4 col-md-6 col-sm-6">
                                                    <div class="product-wrapper mb-10">
                                                        <div class="product-img">
                                                            <a href="{% url 'product' product.pk %}">
                                                                <img src="{{ product.photo.url }}" alt="">
                                                            </a>
                                                            <div class="product-action">
                                                                <a title="Add To Cart" href="{% url 'product' product.id %}">
                                                                    <i class="ti-shopping-cart"></i>
                                                                </a>
                                                            </div>
                                                            <div class="product-action-wishlist">
                                                                <a title="Wishlist" href="#">
                                                                    <i class="ti-heart"></i>
                                                                </a>
                                                            </div>
                                                        </div>

                                                        <div class="product-content">
                                                            <h4><a href="{% url 'product' product.id %}">{{ product.name }}</a></h4>
                                                            <div class="product-price">
                                                                {% if product.old_price != 0 %}
                                                                    <span class="new">{{ product.price }} ₽</span>
                                                                    <span class="old">{{ product.old_price }} ₽</span>
                                                                {% else %}
                                                                    <span class="new">{{ product.price }} ₽</span>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        <div class="product-list-content">
                                                            <h4><a href="#">{{ product.name }}</a></h4>
                                                            <div class="product-price">
                                                                {% if product.old_price != 0 %}
                                                                    <span class="new">{{ product.price }} ₽</span>
                                                                    <span class="old">{{ product.old_price }} ₽</span>
                                                                {% else %}
                                                                    <span class="new">{{ product.price }} ₽</span>
                                                                {% endif %}
                                                            </div>
                                                            <p>{{ product.description }}</p>
                                                            <div class="product-list-action">
                                                                <div class="product-list-action-left">
                                                                    <a class="addtocart-btn" title="Add to cart" href="{% url 'product' product.id %}"><i class="ion-bag"></i>Подробнее</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<footer class="footer-area">
            <div class="footer-top pt-80 pb-50">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                            <div class="footer-widget mb-30">
                                <div class="footer-info-wrapper">
                                    <div class="footer-logo">
                                        <a href="{% url 'landing' %}">
                                            <img alt="" src="{% static 'main/img/logo/cactus_logo_v2.png' %}">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                            <div class="footer-widget mb-30 pl-50">
                                <h4 class="footer-title">USEFUL LINKS</h4>
                                <div class="footer-content">
                                    <ul>
                                        <li><a href="#">Help & Contact Us</a></li>
                                        <li><a href="#">Returns & Refunds</a></li>
                                        <li><a href="#">Online Stores</a></li>
                                        <li><a href="#">Terms & Conditions</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-2 col-md-6 col-sm-6">
                            <div class="footer-widget mb-30 pl-70">
                                <h4 class="footer-title">HELP</h4>
                                <div class="footer-content">
                                    <ul>
                                        <li><a href="#">Faq's </a></li>
                                        <li><a href="#">Pricing Plans</a></li>
                                        <li><a href="#">Order Traking</a></li>
                                        <li><a href="#">Returns </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                            <div class="footer-widget">
                                <div class="payment-img">
                                    <a href="index.html">
                                        <img src="{% static 'main/img/icon-img/payment.png' %}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="border-top-1 pt-17 pb-15">
                                <div class="copyright text-center">
                                    <p>Copyright © <a href="#">Marten.</a> All Right Reserved.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</footer>
		<!-- modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="ti-close" aria-hidden="true"></span>
            </button>
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="qwick-view-left">
                            <div class="quick-view-learg-img">
                                <div class="quick-view-tab-content tab-content">
                                    <div class="tab-pane active show fade" id="modal1" role="tabpanel">
                                        <img src="{% static 'main/img/quick-view/l1.jpg' %}" alt="">
                                    </div>
                                    <div class="tab-pane fade" id="modal2" role="tabpanel">
                                        <img src="{% static 'main/img/quick-view/l2.jpg' %}" alt="">
                                    </div>
                                    <div class="tab-pane fade" id="modal3" role="tabpanel">
                                        <img src="{% static 'main/img/quick-view/l3.jpg' %}" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="quick-view-list nav" role="tablist">
                                <a class="active" href="#modal1" data-toggle="tab" role="tab">
                                    <img src="{% static 'main/img/quick-view/s1.jpg' %}" alt="">
                                </a>
                                <a href="#modal2" data-toggle="tab" role="tab">
                                    <img src="{% static 'main/img/quick-view/s2.jpg' %}" alt="">
                                </a>
                                <a href="#modal3" data-toggle="tab" role="tab">
                                    <img src="{% static 'main/img/quick-view/s3.jpg' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="qwick-view-right">
                            <div class="qwick-view-content">
                                <h3>Dog Calcium Food</h3>
                                <div class="product-price">
                                    <span>19.00 ₽</span>
                                </div>
                                <div class="product-rating">
                                    <i class="ion-star theme-color"></i>
                                    <i class="ion-star theme-color"></i>
                                    <i class="ion-star theme-color"></i>
                                    <i class="ion-star theme-color"></i>
                                    <i class="ion-star theme-color"></i>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adip elit, sed do amt tempor incididun ut labore et dolore magna aliqua. Ut enim ad mi , quis nostrud veniam exercitation .</p>
                                <div class="quick-view-select">
                                    <div class="select-option-part">
                                        <label>Size*</label>
                                        <select class="select">
                                            <option value="">- Please Select -</option>
                                            <option value="">XS</option>
                                            <option value="">S</option>
                                            <option value="">M</option>
                                            <option value=""> L</option>
                                            <option value="">XL</option>
                                            <option value="">XXL</option>
                                        </select>
                                    </div>
                                    <div class="select-option-part">
                                        <label>Color*</label>
                                        <select class="select">
                                            <option value="">- Please Select -</option>
                                            <option value="">orange</option>
                                            <option value="">pink</option>
                                            <option value="">yellow</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="quickview-plus-minus">
                                    <div class="cart-plus-minus">
                                        <input type="text" value="2" name="qtybutton" class="cart-plus-minus-box">
                                    </div>
                                    <div class="quickview-btn-cart">
                                        <a class="btn-style" href="#">add to cart</a>
                                    </div>
                                    <div class="quickview-btn-wishlist">
                                        <a class="btn-hover" href="#"><i class="ti-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



		<!-- all js here -->
        <script src="{% static 'main/js/vendor/jquery-1.12.0.min.js' %}"></script>
        <script src="{% static 'main/js/popper.js' %}"></script>
        <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'main/js/jquery.counterup.min.js' %}"></script>
        <script src="{% static 'main/js/waypoints.min.js' %}"></script>
        <script src="{% static 'main/js/elevetezoom.js' %}"></script>
        <script src="{% static 'main/js/ajax-mail.js' %}"></script>
        <script src="{% static 'main/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'main/js/plugins.js' %}"></script>
        <script src="{% static 'main/js/main.js' %}"></script>
    </body>
</html>
